# pnpm 配置
shamefully-hoist=true
strict-peer-dependencies=false

# Electron 镜像配置
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
